@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

body {
    background-image: url("design/background.png");
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-weight: normal;
    margin: 0;
}

.item {
    font-weight: lighter;
    padding: 2px 0 2px 0;
}

input[type='checkbox'] {
    opacity:            0;
    appearance:         none;
    -webkit-appearance: none;
    display:            inline-block;
    vertical-align:     middle;
    z-index:            100;
    box-sizing:         border-box;
    padding:            0;
}

button, input {
    line-height: normal;
}

input[type='checkbox'], label::before {
    width:      10px;
    height:     10px;
    top:        50%;
    left:       5px;
    margin-top: -7px;
    position:   absolute;
    cursor:     pointer;
}

ul {
    list-style: none;
}

li {
    margin:   0 auto;
    padding:  1em 0;
    position: relative;
}

input[type='checkbox']:checked + label::before {
    opacity: 0.8;
}

input[type='checkbox']:checked + label {
    color: rgba(0,0,0,0.2);
}

label::before {
    content:       '';
    border:        1px solid #888;
    border-radius: 50%;
}

label {
    display:            inline-block;
    position:           relative;
    padding:            0 0 0 80px;
    vertical-align:     top;
    color:              rgba(0,0,0,1);
    cursor:             pointer;
    -webkit-transition: color 0.3s;
    transition:         color 0.3s;
}

svg {
    position:       absolute;
    width:          28px;
    height:         28px;
    top:            50%;
    margin-top:     -28px;
    left:           0px;
    pointer-events: none;
}

svg:not(:root) {
    overflow: hidden;
}

svg path {
    stroke:          #000;
    stroke-width:    5px;
    stroke-linecap:  round;
    stroke-linejoin: round;
    fill:            none;
}
